.drawing{
  max-height: 400px;
  max-width: 400px;
}

.drawing-sm{
  max-height: 300px;
  max-width: 300px;
}

.drawing-wd{
  max-width: 700px;
  max-height: 400px;
}

.leftside{
  top: 100px;
  float: left;
}

.rightside{
  float: right;
}

.quote{
  font-size: 16pt;
  width: 300px;
  font-style: italic;
  font-family: monospace;
}

.bg-blue{
  background:#8ACCE2;
}

.bg-orange{
  background: #8ACCE2
}