.drawing{
  max-height: 400px;
  max-width: 400px;
}

.drawing-sm{
  max-height: 300px;
  max-width: 300px;
}

.drawing-wd{
  max-width: 700px;
  max-height: 300px;
}

.leftside{
  top: 100px;
  float: left;
}

.rightside{
  float: right;
}